<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <style>

        body{
            padding: 0;
            margin: 0;
        }

        a{
            padding: 8px;
            text-decoration: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: whitesmoke;
            
        }
        nav{
            background-color: cornflowerblue;
            padding: 8px;
        }

        h1{
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

    </style>
</head>
<body>
    
    <nav>
        <a href="{% url 'home' %}">Home</a>
        {% if user is None %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'new_user' %}">Create Account</a>
        {% else %}
            <a href="{% url 'logout' %}">Log out</a>
            <a href="{% url 'cart' %}">Cart</a>
            <a href="{% url 'orders' %}">Orders</a>
        {% endif %}
    </nav>


    <div>
        <h1>No order Yet</h1>
    </div>


</body>
</html>